<div class="board_wrap">
  <mat-card class="item" *ngIf="task">
    <ng-template [ngIf]="task.condition">
      <div class="board">
        <ng-template [ngIf]="task.condition">
          <mat-card-content>
            <h2>{{ task.title }}</h2>
            <p>
              {{ task.description }}
            </p>
            <div class="btn_row_board">
              <button ngFor='{ task: data.task}' (click)="editTask(task)" class="btn_card" mat-icon-button>
                <mat-icon> border_color </mat-icon>
              </button>
              <button ngFor='{ task: data.task}' (click)="deleteTask(task)" class="btn_card" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="redirectTo()" class="btn_card" mat-icon-button>
                <mat-icon>link</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </ng-template>
      </div>
    </ng-template>
  </mat-card>
</div>



